@use "sass:meta";
// Fonts

@import "../fonts/fonts.css";
@import "../fonts/font-icons.css";

// CSS Files
@import "../css/bootstrap.min.css";
@import "../css/swiper-bundle.min.css";

@include meta.load-css("app.scss");
